In [2]:
# https://pandas.pydata.org/docs/user_guide/10min.html
import numpy as np
import pandas as pd

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range("20130301", periods=6)
dates

DatetimeIndex(['2013-03-01', '2013-03-02', '2013-03-03', '2013-03-04',
               '2013-03-05', '2013-03-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-03-01 -0.121038 -0.068887 -0.072677 -1.626068
2013-03-02  0.355568 -0.715032 -1.658657  1.356223
2013-03-03  1.599935 -1.835592 -1.801826  0.927394
2013-03-04  0.593892 -0.782193  0.052970  0.559110
2013-03-05 -1.735785 -2.057557  1.821630 -0.087100
2013-03-06  0.431683 -1.276473 -0.117517 -0.135720

In [6]:
# transposing a dataframe
df.T

   2013-03-01  2013-03-02  2013-03-03  2013-03-04  2013-03-05  2013-03-06
A   -0.121038    0.355568    1.599935    0.593892   -1.735785    0.431683
B   -0.068887   -0.715032   -1.835592   -0.782193   -2.057557   -1.276473
C   -0.072677   -1.658657   -1.801826    0.052970    1.821630   -0.117517
D   -1.626068    1.356223    0.927394    0.559110   -0.087100   -0.135720

In [16]:
# Selection by label
df.loc["2013-03-02":"2013-03-04", ["B","D"]]

                   B         D
2013-03-02 -0.715032  1.356223
2013-03-03 -1.835592  0.927394
2013-03-04 -0.782193  0.559110

In [21]:
# Selection by position
df.iloc[2:4,2:4]

                   C         D
2013-03-03 -1.801826  0.927394
2013-03-04  0.052970  0.559110