In [1]:
import numpy as np
import pandas as pd

In [7]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
dates = pd.date_range("20130301", periods=6)
dates

DatetimeIndex(['2013-03-01', '2013-03-02', '2013-03-03', '2013-03-04',
               '2013-03-05', '2013-03-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-03-01 -0.515817  0.219994  0.156390 -0.088546
2013-03-02  0.715560 -0.967028  1.988291 -0.623772
2013-03-03  0.001702 -0.380533 -0.649109  0.484633
2013-03-04  0.797642  1.089069  0.710775  0.768493
2013-03-05  0.683187 -0.322720 -0.729694 -0.549795
2013-03-06 -0.186203 -1.391880  0.240035  0.385370